#msg-container{
    min-height: 300px;
    max-height: 300px;
    width: 250px;
    border: 1px solid grey;
    overflow-y: auto;
    font-size: small;
    color: black;
    margin-bottom: 20px;
}
#msg-box{
    width: 250px;
}
.by-me{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color: lightblue;
    margin: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    float:right;
}

.by-receiver{
    text-align: left;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background-color: lightgray;
    margin: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    float: left;
}

.unable-to-send{
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    float:right;
    background-color: orangered;
}

.time{
    font-size: x-small;
    color: #424242;
    margin-top: 5px;
}

.break{
    clear: both;
}